@import '../node_modules/@elastic/eui/src/themes/eui/eui_colors_dark';

// These are Chart variable overwrites used only for this theme.
@import 'style/themes/colors_dark';

@import '../node_modules/@elastic/eui/src/global_styling/functions/index';
@import '../node_modules/@elastic/eui/src/global_styling/variables/index';
@import '../node_modules/@elastic/eui/src/global_styling/mixins/index';

// Reset for colors only
html {
  color: $euiTextColor;
  background-color: $euiPageBackgroundColor;
  scrollbar-color: transparentize($euiColorDarkShade, .5) transparent; // Firefox support
}

a {
  color: $euiColorPrimary;
}

// Components
@import 'components/index';
